.ramo {
  background-color: #cceeff; /* Celeste claro por defecto */
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.ramo.aprobado {
  background-color: #3399ff; /* Azul fuerte */
  color: white;
  text-decoration: none;
}

.ramo.bloqueado {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
